

/* style.css */
.allSids {
	fill: #fee391;
	stroke: #333;
	stroke-width: 1px;
	filter: drop-shadow(1px 1px 0px purple);
}

.countryHover{fill: #91eefe;
		filter: drop-shadow(1px 1px 0px purple);
		cursor:pointer;
}

.shadow
	{
		filter: drop-shadow(1px 1px 0px black);
	}

.countryHighlight
	{fill: #fec44f;
}

.region.NI { 
  fill: #aaa;
  stroke: #aaa;
}

// g{
// 	outline:2px red solid;
// }

/* Colors taken from colorbrewer2.org - blue */
.b0-9 { fill:rgb(247,251,255); }
.b1-9 { fill:rgb(222,235,247); }
.b2-9 { fill:rgb(198,219,239); }
.b3-9 { fill:rgb(158,202,225); }
.b4-9 { fill:rgb(107,174,214); }
.b5-9 { fill:rgb(66,146,198); }
.b6-9 { fill:rgb(33,113,181); }
.b7-9 { fill:rgb(8,81,156); }
.b8-9 { fill:rgb(8,48,107); }

/* Colors taken from colorbrewer2.org - red */
.r0-9 { fill:rgb(255,245,240); }
.r1-9 { fill:rgb(254,224,210); }
.r2-9 { fill:rgb(252,187,161); }
.r3-9 { fill:rgb(252,146,114); }
.r4-9 { fill:rgb(251,106,74); }
.r5-9 { fill:rgb(239,59,44); }
.r6-9 { fill:rgb(203,24,29); }
.r7-9 { fill:rgb(165,15,21); }
.r8-9 { fill:rgb(103,0,13); }

/* Colors taken from colorbrewer2.org - green */
.g0-9 { fill:rgb(247,252,245); }
.g1-9 { fill:rgb(229,245,224); }
.g2-9 { fill:rgb(199,233,192); }
.g3-9 { fill:rgb(161,217,155); }
.g4-9 { fill:rgb(116,196,118); }
.g5-9 { fill:rgb(65,171,93); }
.g6-9 { fill:rgb(35,139,69); }
.g7-9 { fill:rgb(0,109,44); }
.g8-9 { fill:rgb(0,68,27); }

.choroText { 
	text-anchor: middle;
color:black;
	}


// .csvTable table {
// border-collapse: collapse;
// text-align: left;
// width: 100%;
// }

// .csvTable {
// font: normal 12px/120% Arial, Helvetica, sans-serif;
// background: #fff;
// overflow: hidden;
// border: 1px solid #063;
// -webkit-border-radius: 3px;
// -moz-border-radius: 3px;
// border-radius: 3px;
// }

// .csvTable table td, .csvTable table th {
// padding: 3px 10px;
// }

// .csvTable table thead th {
// background: 0;
// filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699',endColorstr='#00557F');
// background-color: #006D2C;
// color: #FFF;
// font-size: 15px;
// font-weight: 700;
// border-left: 1px solid #0070A8;
// }

// .csvTable table thead th:first-child {
//     border: none;
// }

// .csvTable table tbody td {
// color: #006633; /* #00496B */
// border-left: 1px solid #E1EEF4;
// font-size: 12px;
// border-bottom: 1px solid #E1EEF4;
// font-weight: 400;
// }

// .csvTable table tbody td:first-child {
//     border-left: none;
// }

// .csvTable table tbody tr:last-child td {
// border-bottom: none;
// }

// .csvTable tr:hover td {
// background-color: #063;
// color: white;
// }

#choro_legend_container{margin:0;
	margin-top:20px;
padding:0;}

#choro_map_container svg{
	//width:100vw;
	// outline:black 2px solid;
	margin-top:5px;
	margin-bottom:-5px;
	padding-bottom:0px;
	padding-top:10px;
	overflow:visible;
}

// g{
// 	outline: blueviolet 2px solid;
// }

// path{
// 	outline: blue 2px solid;
// }



.indicatorFilter{
   // Width of parent element
   
  margin:0;
   text-align:center;
   padding:0;
  // float:right;
  margin-bottom:5px
  }
  #indicatorSubCategorySelect,  #indicatorSubCategorySelect2{font-size:14px;
	height: 30px;
	width:100%;
	//margin-left:5%;
  }
  #indicatorCategorySelect, #indicatorCategorySelect2{font-size:16px;
	height: 40px;
	margin-top:28px;
	width:100%;
}

#indicatorSelectBox2{
	display:none;
}


//////listbox


.listbox{
	background: white; 
	// background: -webkit-linear-gradient(#ccc,white); 
	// background: -o-linear-gradient(#ccc,white); 
	// background: -moz-linear-gradient(#ccc,white); 
	// background: linear-gradient(#ccc,white); 
	overflow-x:hidden;
	overflow-y: auto;
	width:100%;
}
.listbox ul{
	list-style:none;
	margin:0;
	padding:6px;
}
.listbox li{
	padding:4px;
	cursor:pointer;
}
.listbox li:hover{
	background-color: #bbb;
}
.listbox li.indiActive{
	background: rgb(77,176,82);
	font-size:14px;
	font-weight:bold
}

.listbox li.indiActive2{
	background: rgb(177,76,182);
	font-size:14px;
	font-weight:bold
}

.listbox li{
	-webkit-transition: background-color  200ms linear;
	-moz-transition: background-color  200ms linear;
	-o-transition: background-color  200ms linear;
	-ms-transition: background-color  200ms linear;
	transition: background-color  200ms linear;
}

.listbox::-webkit-scrollbar{
	width: 8px;  
	// border:1px solid #333;

}
.listbox::-webkit-scrollbar-track{
	background: white;
	
}


#indicatorSelect{
	width:100%;
	height: 300px;
	margin:0;
	padding:0;
    font-size:12px;
}
#indicatorSelect2{
	width:100%;
	height: 100px;
	margin:0;
	padding:0;
    font-size:12px;
}

#indicatorSelectorColumn
{margin:0;
padding:0;
}

.c008080{
    fill:#008080;
}
 .cF0A500{
    fill:#F0A500;
 }
 .c97002B{
    fill:#97002B;
 }

 .nodata{
    fill:#F4F5F8;
 }

 #choroInfoBox p{
	 font-size:12px;
	 text-align:left;

 }

 #choroIndiSource{
	padding:0;
}

#choroInfoBox h4{
	font-size: 14px;
	font-weight:bold;
	text-align:center;
}

 #choroInfoBox{
	height:212px; 
	margin:0;
	padding:0;
	 padding:12px;
	 margin-top:12px;
	 overflow-y:scroll;
	 overflow-x:hidden;
	 background-color:#e9e6e6;
	 border:.5px solid gray;
 }

 #choroInfoBox::-webkit-scrollbar-track {
	background: #e9e6e6;
 }
#choroInfoBox::-webkit-scrollbar{
		width: 8px;  

		// border:1px solid #333;
	}

	.textNum, .textNumEnd{
		font-family: sans-serif;
		fill:black;
font-size:12px;
	}

	.choroLegendTitle{
	
	font-family:sans-serif;
    fill:black;
    font-size:14px;

	}

	#indicatorExportDiv{
		float:right;
		margin-top:-50px;
	}

	#tooltipIndicatorContent{
		max-width:350px;
	}

	#choro_legend_container{
		height:0px; 
		width:90%;
		overflow:visible;
	}

	#regionLegend{
		height:42px; 
		margin-left:120px; 
		margin-top:5px; 
		padding:0;}

		#countryDataPanel h2{padding-top:40px;}

		
.regionTitle{
	cursor:pointer;
}