

#opacity-slider {
    background-color: #DDDDDD;
}

#volume {
    color: #DDDDDD;
}

.popupCustom {
    width: 500px;
    
}

#map {
    position: fixed;
    top: 0;
    z-index: 0;
    height: 100vh;
    width: 83.5%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
  }



.mapbox-ctrl-minimap-toggle-display {
    background-image: url('toggle.svg') !important;
    background-size: cover;
    position: absolute;
  }


#draw-sidebar {
    display: none;
    top: 0;
    position: fixed;
    width: 25%;
    background-color: whitesmoke;
    z-index: 40;
    height: 100vh;
    transition: 0.3s;
}

#sidebar-text {
    padding-top: 10px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-size: 12px;
}

#removeUpload {
    display: none;
}


input[type=checkbox] {
   width: 12px;
   height: 12px;
}

#underwater {
    color: black;
     padding: 0px;
     font-size: 14px;
     font-weight: bold;
}
 
 #admin1 {
     color: red;
     padding: 0px;
     font-size: 14px;
     font-weight: bold;
    
 }
 #admin2 {
    color: #003399;
    padding: 0px;
    font-size: 14px;
    font-weight: bold;
   
}

#gisPanel {
    margin: 0;
    padding: 0;
}
 
   

.row-flex {
    display: flex;
    flex-direction: row;
    margin-top: 3px; 
    font-size: 11px;
}

.col-flex {
    display: flex;
    flex-direction: column;
}

.space-evenly {
    justify-content: space-evenly;
    
}

.logos {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

body.modal-open {
    overflow: hidden !important;
 }

.UNDP-logo {
    width: 31px;
    height: 65px;
    background: url('./assets/UNDP-logo.svg');
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 13px;

}

.rising-up-for-sids {
    width: 131px;
    height: 65px;
    background: url('./assets/risingUpForSids.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgba(196, 196, 196, 0);
   
}

.top-right {
    width: 300px;
   /* position: relative; */
    position: absolute;
   /* border: 1px solid red; */
    top: 0px;
    right: 30px;
    z-index: 1;
   /* position: fixed;
    top: 30px;
    right: 40px;
    z-index: 1; */
}



#addLabels, #datadownload, #voro, #removeUpload {


    padding: 8px 8px 8px 8px;
    /*border-radius: 10px; */
    color: black;
    
    background: #DDDDDD;
    font-weight: 300;
    font-size: 14px;
    position: relative;
    width: 120px;
    margin: 10px auto 10px auto;
    cursor: pointer;
}

#addLabels {
    margin: 0px;
    margin-bottom: 10px;
}



.opacityslider, .download, #color-switch {
    display: none;
}

.opacityslider {
    margin-top: 10px;
}

#addLabels:hover {
    background: #818f98;
}

#button {
    padding: 8px 35px 8px 20px;
    /*border-radius: 10px; */
    outline: none;
    height: 34px;
    background: #DDDDDD;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    border: 0px;
    appearance: none;
    cursor: pointer;
    margin-left: 10px;
}







.icon1 {
    width: 34px;
    height: 34px;
    margin-left: 16px;
    background: url('./assets/icon1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}




.add-overlay-menu {
    position: relative;

    
}

.add-overlay-menu:hover {
    cursor: pointer;
}

.my-custom-control {
    display:none;
    background-color: rgba(221, 221, 221, 0.9);
    height: 0px;
    width: 0px;
    padding: 5px;

}



#add-overlay {
    
    padding: 8px 35px 8px 20px;
    border-radius: 10px;
    outline: none;
    /*height: 44px; */
    background: #DDDDDD;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    border: 0px;
    appearance: none;
    cursor: pointer;
}

/* .downarrow {
    width: 8.54px;
    height: 7.68px;
    position: absolute;
    top: 14px;
    right: 18px;
    background: url('./assets/down-arrow.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
} */

#icon3d {
    display: none;
}

.icon2 {
    width: 34px;
    height: 34px;
    margin-left: 16px;
    margin-right: 7px;
    background: url('./assets/icon2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
}

.plot-select-menu {
    position: relative;
    visibility: none;
   
}

.selectIcon {
    background-color: white;
    background: url('./assets/iconmonstr-hexagon-2.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 34px;
    height: 34px;
}


/*#plot-select {
    
    padding: 8px 34px 8px 34px;
     border-radius: 10px;
    outline: none;
     height: 34px;
    background: #DDDDDD;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    border: 0px;
     appearance: none;
     text-align: center;
    cursor: pointer;
 
} */

.left-arrow {
    width: 7.68px;
    height: 8.54px;
    position: absolute;
    top: 12px;
    left: 14px;
    background: url('./assets/left-arrow.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

.right-arrow {
    width: 7.68px;
    height: 8.54px;
    position: absolute;
    top: 12px;
    right: 14px;
    background: url('./assets/right-arrow.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

.icon3 {
    width: 34px;
    height: 34px;
    margin-left: 16px;
    /*background: url('./assets/icon3.png'); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.plus-sign {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    margin-left: 4px;
    background: url('./assets/plus-sign.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bottom-left-col {
    position: fixed;
    bottom: 12px;
    left: 16px;
}


.main-wrapper {
    margin-left: 14px;
    margin-top: 13vh;
    margin-right: 0px;
    position: relative;
    width: 381px;
    z-index: 4;
     
}

.app-body {
    max-width: 360px;
    margin: 5px 0;
    background-color: rgba(221, 221, 221, 0.7);
    padding: 10px 21px;
    /*border-radius: 10px; */
    transition: 0.5s ease-in-out all;
    opacity: 1;
    height: 190px;
    
}

.app-body.collapsed {
    opacity: 0;
    z-index: -999;
    pointer-events: none;
}

/* Custom Selection Boxes */

.custom-selection-dropdown {
    padding-top: 4px;
    position: relative;
}

.custom-selection-dropdown>label {
    /*display: block; */
    margin: 0px 30px;
    font-size: 15px;
    font-weight: bold;
}

#resetData {
    display: none;
}
#resetData:hover {
    color: blue;
    cursor: pointer;
}

.custom-selection-dropdown .form-select {
    font-size: 12px;
    border-radius: 5px;
    padding: 4px 20px;
    background-image: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 18px;
}

/* Selection scroller */

#selection-scroller-option {
    /* padding: 15px; */
    border-right: 2px solid #333;
    background-image: linear-gradient( 90deg, transparent, #ccc);
}

.selection-scroller .scroller-option {
    font-size: 13px;
    padding: 1px 0;
    /* min-height: 32px; */
}
.selection-scroller .scroller-option.active{
    background: none;
}

.tab-nav span {
    cursor: pointer;
}

.tab-nav.active span {
    font-size: 14px;
    font-weight: 600;
    position: relative;
    display: block;
    padding-right: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.scroller-option-selected {
    font-size: 20px;
    font-weight: 600;
    position: relative;
    display: block;
    padding-right: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.scroller-option-selected .scroller-buttons {
    position: absolute;
    left: 162px;
    top: 24%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.scroller-buttons>a {
    color: #333;
    text-decoration: none;
    display: block;
    margin: 0;
    line-height: 1;
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroller-buttons>a:hover {
    color: #20649a;
}

.scroller-buttons>a .fa {
    line-height: 1;
}

.scroller-buttons>a.disabled {
    opacity: 0.5;
}

/* Button selection */

.button-selection .btn {
    display: block;
    text-align: left;
    font-weight: 600;
    font-size: 12px;
    color: #0cb5ff;
    border-radius: 10px;
    padding: 1px 6px;
}

.button-selection .btn:hover {
    background-color: rgba(255, 255, 255, .1);
}

.button-selection .btn.active {
    background-color: rgba(255, 255, 255, .25);
}

.button-selection .btn.btn-1 {
    color: #2b71d2;
}

.button-selection .btn.btn-2 {
    color: #37ef31;
}

.button-selection .btn.btn-3 {
    color: #ffd312;
}

.button-selection img.button-icon {
    max-width: 22px;
}

/* year timeline  */

.year-timeline-wrapper {
    position: relative;
    padding-left: 0px;
}

.year-timeline-controls {
    position: absolute;
    bottom: -10px;
    left: -8px;
    z-index: 2;
}

#icon3d:hover {
    cursor: pointer;
}

#year-play-pause {
    color: #b30d8a;
    text-decoration: none;
    display: block;
    width: 32px;
    height: 32px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

#year-play-pause>span {
    font-size: 0;
    display: none;
}

#year-play-pause::after {
    font-family: FontAwesome;
    content: '\f04b';
}

#year-play-pause.pause::after {
    font-family: FontAwesome;
    content: '\f04c';
}

.year-timeline {
    display: flex;
    position: relative;
    padding: 0;
    margin-top: 6px;
}

.year-timeline .year-timeline-block {
    display: block;
    width: 25%;
    /*width: auto;*/
    text-align: center;
    position: relative;
}

.year-timeline .year-timeline-block::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    width: 100%;
    display: block;
    background-color: #111;
    margin-top: -4px;
}

.year-timeline .year-timeline-block.alpha::after {
    width: 50%;
    margin-left: auto;
}

.year-timeline .year-timeline-block.omega::after {
    width: 50%;
    margin-right: auto;
}

.year-timeline-block>input[type='radio'] {
    visibility: hidden;
    width: 0;
    height: 0;
    display: none;
}

.year-timeline-block label {
    display: block;
    cursor: pointer;
}

/***-------------- Show labels for selected/first and last (Uncomment out this to show only selected/first and last years)  --------------
.year-timeline-block .label-value{ 
    opacity: 0;
}
.year-timeline-block.alpha .label-value, 
.year-timeline-block.omega .label-value, 
input[type='radio']:checked~label .label-value {
    opacity: 1;
}
/***-------------- END  --------------***/

.year-timeline-block .label-value {
    display: inline-block;
    padding: 5px 0px;
    position: relative;
    text-align: center;
    padding-bottom: 10px;
    font-size: 12px;
}

.year-timeline-block .circle-radio {
    width: 8px;
    height: 8px;
    display: block;
    background-color: #333;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    transition: 0.2s all ease-in-out;
}

input[type='radio']:checked~label .circle-radio {
    background-color: #797979;
    box-shadow: 0 0 0 1px #000000, 0 0 0 3px #3e3e3e;
}

.year-timeline-block.alpha .label-value {
    margin-left: auto;
}

.year-timeline-block.omega .label-value {
    margin-right: auto;
}

.year-timeline-wrapper {
    padding-left: 35px;
}

.year-timeline .year-timeline-block {
    position: static;
    height: 40px;
}

.year-timeline .year-timeline-block.omega::after {
    width: auto;
    margin-left: initial;
    margin-right: initial;
}

.year-timeline .year-timeline-block.alpha::after {
    width: auto;
    margin-left: initial;
    margin-right: initial;
}

.year-timeline-block .label-value {
    position: absolute;
    transform: translateX(-50%);
}

.year-timeline-block.omega .label-value {
    transform: translateX(50%);
}

.year-timeline-block.alpha .label-value {
    position: absolute;
    left: 0;
    right: initial;
}

.year-timeline-block.omega .label-value {
    position: absolute;
    right: 0;
    left: initial;
}

.year-timeline-block .circle-radio {
    position: absolute;
    bottom: 6px;
    left: 0;
}

.year-timeline-block.alpha .circle-radio {
    left: 0;
    right: initial;
}

.year-timeline-block.omega .circle-radio {
    right: 0;
    left: initial;
}

.year-timeline .year-timeline-block::after {
    bottom: 10px;
}

/* Tabs */

.tab {
    display: none;
}

.tab.active {
    display: block;
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active, 
.button-selection.active{ 
    background: none ;
}
.carousel-img {
    max-height: 66px;
}

.grid-container {
    max-width: 340px;
    position: absolute;
    z-index: 99;
    left: -180px;
    top: 66px;
}

.icon-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-container .icon-grid img {
    max-width: 60px;
}

.grid-container .icon-grid img:hover {
    transform: scale(1.3);
}

.tab-2 {
    position: relative;
}

.hide-economy {
    display: none;
}

.econo {
    background-color: #ffffff5e;
    max-width: 436px;
    position: absolute;
    z-index: -99;
    left: 194px;
    top: 0px;
    width: 300px;
}

.econo .text-section {
    padding-left: 32px;
}

.econo-content {
    max-width: 316px;
    margin: 27px 20px 28px 124px;
}

.sdg-content {
    max-width: 308px;
    margin: 27px 20px 28px 94px;
}

.blue-eco-tooltip-icon {
    max-width: 60px;
}

.tooltip-blue-eco {
    max-width: 360px;
    padding: 10px;
    border-radius: 10px;
   /* background-color: #ebebeb9e; */
   background-color:rgba(221, 221, 221, 0.9)
   
}

.tooltip-blue-eco h3 {
    color: #2b71d2;
    font-size: 14px;
}

.tooltip-blue-eco p, .tooltip-blue-eco strong {
    font-size: 12px;
    margin: 0;
}

.tooltip-blue-eco .title-text {
    color: #a21942;
    font-weight: 600;
    font-size: 14px;
}

.tooltip-cli h3 {
    color: #37ef31;
}

.tooltip-digi h3 {
    color: #ffd312;
}



/* .samoa-grid {
    left: 12px;
    top: 76px;
} */

.custom-selection-dropdown .select2-container--default .select2-selection--single {
    display: block;
    width: 100%;
    padding: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 34px;    
    padding-top:7px;
       
}

.custom-selection-dropdown .select2-selection__arrow {
    display: none;
}

.collapse-btn {
    width: 30px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    left: -18px;
    top: 36px;
    background-color: rgba(37, 42, 48, 0.5);
    border-radius: 10px;
    cursor: pointer;
    transition: .5s ease-in-out;
    display: flex;
    justify-content: center;
}

.collapse-btn svg {
    max-width: 26px;
}

.collapse-btn.collapsed {
    transform: rotate(180deg);
}
#close-side.collapsed {
    transform: rotate(0deg);
}

/* Top tooltip */

.tooltip-top {
    display: none;
    /*max-width: 360px; */
    padding: 10px 0;
    background-color: white;
    margin-left: 1px;
    border-radius: 10px;
    position: absolute;
    top: -135px;
    z-index: 2;
}

.tooltip-top .head-img {
    display: flex;
    justify-content: center;
}

.tooltip-top img {
    max-width: 160px;
}

.tooltip-top p, .tooltip-top strong {
    padding: 4px 10px;
    font-size: 12px;
    margin: 0;
}

.main-wrapper .select2-container {
    width: 100% !important;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: #9E9E9E;
    border-radius: 10px;
}

.population-density-box {
    width: 350px;
    height: 180px;
    margin-top: 5px;
    /*border-radius: 10px; */
    background-color: #DDDDDD;
    margin-left: 30px;
    /*sebastian added */
    position: relative;
    z-index: 3;
    padding: 10px;
}

.population-per-km {
    max-width: 350px;
    /*margin-top: 12px; */
    background-color: #dddddd;
    /*border-radius: 10px; */
    padding: 10px;
    margin-left: 30px;
    /*sebastian added */
    position: relative;
    z-index: 1;
    height: 199px;
}

.population-per-km-text {
    font-size: 11px;
    line-height: 14px;
    margin-top: 5px;
    
}

.population-per-km-img {
    width: 17px;
    height: 15px;
    background: url('./assets/polygon.png');
    background-repeat: no-repeat;
    background-size: 101% 101%;
    margin-top: 2px;
    z-index: 4;
}

/* Misc */

.text-add-chart {
    font-size: 12px;
    color: #fff;
}

.add-chart-button-wrap {
    justify-content: flex-end;
    margin-top: 15px;
}

.add-chart-button {
    width: 93px;
    height: 34px;
    border-radius: 10px;
    background-color: #525252;
    cursor: pointer;
    padding: 2px 5px
}

.dataset-select-uparrow {
    width: 7.54px;
    height: 6.68px;
    position: absolute;
    top: 28.76px;
    right: 18px;
    background: url('./assets/up-arrow.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

.dataset-select-downarrow {
    width: 7.54px;
    height: 6.68px;
    position: absolute;
    top: 38px;
    right: 18px;
    background: url('./assets/down-arrow.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

.year-timeline-wrapper.single-year-only {
    padding: 0;
}

.single-year-only .year-timeline-controls {
    display: none;
}

.single-year-only .year-timeline {
    justify-content: center;
}

.select2~.selection-dropdown-arrow {
    display: none;
}

.loader-gis {
    position: absolute;
   /* border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px; */
    animation: spin 4s linear infinite;
   
    z-index: 3;
    left: 45%;
    top: 35%;
  }

  .loader-gis svg {
    stroke-width: 8;
    fill-opacity: 0.5;
    animation: pulse 1s linear infinite;
    stroke: #003399;
}

  

  @keyframes pulse {
    0% {
        stroke-width: 8;
        fill-opacity: 0.5;
        stroke: #003399;
        
    }
    50% {
        stroke-width: 1;
        fill-opacity: 1;
        
        
    }

    100% {
        stroke-width: 8;
        fill-opacity: 0.5;
        stroke: #003399;
        
    }


  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    
  }

  .password {
    /* display: flex; */
    top: 0;
     position: absolute;
     width: 100%;
     height: 100%;
     z-index: 400;
     background-color: black;
     align-items: center;
     text-align: center;
   }

   #basemap-switch {
       margin-top: 5px;
   }

   .upload-pop {
       width: 200px;
   }
   

   .mapbox-popup-content-wrapper {
       padding: 5%;
       /*width: 300px; */
   }

 h4 {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    }

.downloadModal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
}
.modal-content {
    
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 5px;
   
    border: 1px solid #888;
    width: 40%;
    max-height: 600px;
    overflow: auto;
  }

  .modal-content > label {
      font-size: 10px;
  }

  #download-buttons{
      text-align: center;
      margin-bottom: 0px;
  }

  .modal-content > a {
      text-decoration: none;
      color: blue;

  }

  .modal-content > p {
      margin-bottom: 0;
      text-align: center;
  }

  button {
    text-decoration: none;
    text-align: center;
    padding: 8px 35px 8px 20px;
    /*border-radius: 10px; */
    outline: none;
    height: 34px;
    background: #DDDDDD;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    border: 0px;
    appearance: none;
    cursor: pointer;
  }

button:hover{
    cursor: pointer;
    background: #818f98;
}
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


.country-select-menu {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    
}


.country-select-menu select {
    
    max-width: 90%;
    width: 240px;
    padding: 8px 30px 8px 20px;
    /*border-radius: 10px; */
    margin: 5px;
    outline: none;
    height: 34px;
    background: #DDDDDD;
    font-weight: 300;
    font-size: 14px;
    border: 0px;
    appearance: none;
    cursor: pointer;
    text-align: center;
}



#top-right-wrap {
    font-family: "Proxima Nova";
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 250px;
    /*height: 400px; */
    background-color: rgba(221, 221, 221, 0.7);
    right: 10px;
    top: 50px;
    align-items: center;
    /*border-radius: 10px; */
    text-align: center;
    transition: 0.5s ease-in-out all;
}



.closebutton {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    background: whitesmoke;
    float: right;
}



.dropdown-check-list {
    display: inline-block;
    font-size: 14px;
    width: 100%;
    
  }
  .dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 1px solid #ccc;
    background: #DDDDDD;
    border-radius: 5px;
    width: 92%;
    
  }

  #layer-drop {
      max-width: 259px;
  }

  
  .dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  .dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
  }
  .dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    margin: 10px;
    margin-top: 0;
    border: 1px solid #ccc;
    border-top: none;
    background: #DDDDDD;
    border-radius: 5px;
    
  }
  .dropdown-check-list ul.items li {
    list-style: none;
  }

  .dropdown-menu label {
    display: block;
  }

  #close-side {
    transform: rotate(180deg);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #838383;
    height: 40px;
    width: 20px;
    top: 50%;
    left: -19px;
    border-radius: 0px;
}



#close-side:hover {
    cursor: pointer;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib 
{
  background-color: transparent;      
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib a:link
{
  opacity:70%;
  color:#ffffff;
}

.mapboxgl-ctrl-geocoder--input
{
    font-family: "Proxima Nova";
    font-size:14px;
}

#infoBoxLink a{

    color:#808080;
}
