.v-btn {
  transition: 200ms;
  font-size: 14px !important;
  font-weight: 700 !important;
  letter-spacing: 0.1em !important;
  padding: 0 30px !important;
  box-shadow: none !important;
  height: 50px !important;
}
.v-btn.dense {
  height: 38px !important;
  width: 38px !important;
  padding: 0 19px !important
}
.v-btn--fab {
  width: 50px !important;
  padding: 0 25px !important;
}
.v-btn.primary:hover {
  background-color: #213D65 !important;
  padding: 0 30px !important;
}

.v-btn.dense:hover  {
  height: 38px !important;
  width: 38px !important;
  padding: 0 19px !important
}
.v-btn--fab:hover  {
  width: 50px !important;
  padding: 0 25px !important;
}
.v-btn.primary:active {
  background-color: #082753 !important;
}
.v-btn.primary:before {
  display: none;
}
.v-tabs {
  background: #FFFFFF;
  border: 2px solid #E9ECF6;
  border-radius: 40px;
}
.v-tab {
  transition: 200ms;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 16px !important;
  letter-spacing: 0.04em !important;
  color: #110848 !important;
  height: 36px !important;
  padding: 10px 25px !important;
  border-radius: 25px !important;
  overflow: hidden;
  position: relative;
  z-index: 5;
  background: transparent;
}
.v-tab + .v-tab {
  margin-left: 5px;
}
.v-tabs-bar {
  height: auto !important;
  padding: 5px !important;
}
.v-tabs-slider-wrapper {
  height: 36px !important;
  border-radius: 36px;
  overflow: hidden;
}
.v-tabs-slider {
  background: #E9ECF6 !important;
}

.tabs-small .v-tab {
  height: 24px !important;
}
.tabs-small .v-tabs-slider-wrapper {
  height: 24px !important;
}
