.input-label{
  font-size: 14px;
  text-transform: uppercase;
  line-height: 14px;
  color: #110848;
  margin-bottom: 8px;
  display: block;
}
.v-input {
  font-size: 14px !important;
}
.v-select, .v-input {

  font-weight: 600 !important;
}
.v-select fieldset {
  border: none !important;
  background: #E9ECF6;
}
.v-select .v-icon:before {
  color: #082753 !important
}
.v-input__slot {
  min-height: 36px !important;
  padding: 0 8px 0 18px !important;

      transition: none !important;
}
.v-text-field input {
  padding: 2px 0 2px !important;
}
.v-input__append-inner {
  margin-top: 6px !important;
}
.v-select__selections {
  color: #082753 !important
}
.v-select.v-select--is-multi.v-input--is-dirty .v-input__slot {
  padding: 0 8px 0 1px !important;
}
