@font-face {
  font-family: 'Proxima Nova';
  src: local("Proxima Nova Bold"),
       local("ProximaNova-Bold"),
       url('~@/assets/Proxima-Nova/Proxima Nova Bold.otf')  format("otf"),
       url('~@/assets/Proxima-Nova/proxima_nova_bold-webfont.woff')  format("woff"),
       url('~@/assets/Proxima-Nova/proxima_nova_bold-webfont.woff2')  format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: 'Proxima Nova';
  src: local("Proxima Nova Black"),
       local("ProximaNova-Black"),
       url('~@/assets/Proxima-Nova/Proxima Nova Black.otf')  format("otf"),
       url('~@/assets/Proxima-Nova/proxima_nova_black-webfont.woff')  format("woff"),
       url('~@/assets/Proxima-Nova/proxima_nova_black-webfont.woff2')  format("woff2");
  font-weight: 900;
}
@font-face {
  font-family: 'Proxima Nova';
  src: local("Proxima Nova Xbold"),
       local("ProximaNova-Xbold"),
       url('~@/assets/Proxima-Nova/Proxima Nova Xbold.otf')  format("otf"),
       url('~@/assets/Proxima-Nova/proxima_nova_xbold-webfont.woff')  format("woff"),
       url('~@/assets/Proxima-Nova/proxima_nova_xbold-webfont.woff2')  format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: 'Proxima Nova';
  src: local("Proxima Nova Reg"),
       local("ProximaNova-Reg"),
       url('~@/assets/Proxima-Nova/Proxima Nova Reg.otf')  format("otf"),
       url('~@/assets/Proxima-Nova/proxima_nova_reg-webfont.woff')  format("woff"),
       url('~@/assets/Proxima-Nova/proxima_nova_reg-webfont.woff2')  format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: 'Proxima Nova';
  src: local("Proxima Nova Semibold"),
       local("ProximaNova-Semibold"),
       url('~@/assets/Proxima-Nova/ProximaNova-Semibold.otf')  format("otf"),
       url('~@/assets/Proxima-Nova/proximanova-semibold-webfont.woff')  format("woff"),
       url('~@/assets/Proxima-Nova/proximanova-semibold-webfont.woff2')  format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: 'Proxima Nova';
  src: local("Proxima Nova RegularItalic"),
       local("ProximaNova-RegularItalic"),
       url('~@/assets/Proxima-Nova/ProximaNova-RegularItalic.otf')  format("otf"),
       url('~@/assets/Proxima-Nova/proximanova-regularitalic-webfont.woff')  format("woff"),
       url('~@/assets/Proxima-Nova/proximanova-regularitalic-webfont.woff2')  format("woff2");
  font-weight: 400;
  font-style: italic;
}


.mt-xs-0, .mt-sm-0 {
  margin-top: 0 !important;
}

.pt-xs-0, .pt-sm-0 {
  padding-top: 0 !important;
}


.background-grey {
  background: #e4e1e1 !important;
}
