@font-face {
  font-family: 'Proxima Nova';
  src: local("Proxima Nova Bold"),
       local("ProximaNova-Bold"),
       url('/static/Proxima-Nova/Proxima Nova Bold.otf')  format("otf"),
       url('/static/Proxima-Nova/proxima_nova_bold-webfont.woff')  format("woff"),
       url('/static/Proxima-Nova/proxima_nova_bold-webfont.woff2')  format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: 'Proxima Nova';
  src: local("Proxima Nova Black"),
       local("ProximaNova-Black"),
       url('/static/Proxima-Nova/Proxima Nova Black.otf')  format("otf"),
       url('/static/Proxima-Nova/proxima_nova_black-webfont.woff')  format("woff"),
       url('/static/Proxima-Nova/proxima_nova_black-webfont.woff2')  format("woff2");
  font-weight: 900;
}
@font-face {
  font-family: 'Proxima Nova';
  src: local("Proxima Nova Xbold"),
       local("ProximaNova-Xbold"),
       url('/static/Proxima-Nova/Proxima Nova Xbold.otf')  format("otf"),
       url('/static/Proxima-Nova/proxima_nova_xbold-webfont.woff')  format("woff"),
       url('/static/Proxima-Nova/proxima_nova_xbold-webfont.woff2')  format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: 'Proxima Nova';
  src: local("Proxima Nova Reg"),
       local("ProximaNova-Reg"),
       url('/static/Proxima-Nova/Proxima Nova Reg.otf')  format("otf"),
       url('/static/Proxima-Nova/proxima_nova_reg-webfont.woff')  format("woff"),
       url('/static/Proxima-Nova/proxima_nova_reg-webfont.woff2')  format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: 'Proxima Nova';
  src: local("Proxima Nova Semibold"),
       local("ProximaNova-Semibold"),
       url('/static/Proxima-Nova/Proxima Nova Semibold.otf')  format("otf"),
       url('/static/Proxima-Nova/proxima_nova_semibold-webfont.woff')  format("woff"),
       url('/static/Proxima-Nova/proxima_nova_semibold-webfont.woff2')  format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: 'Proxima Nova';
  src: local("Proxima Nova RegularItalic"),
       local("ProximaNova-RegularItalic"),
       url('/static/Proxima-Nova/Proxima Nova RegularItalic.otf')  format("otf"),
       url('/static/Proxima-Nova/proxima_nova_regularitalic-webfont.woff')  format("woff"),
       url('/static/Proxima-Nova/proxima_nova_regularitalic-webfont.woff2')  format("woff2");
  font-weight: 400;
  font-style: italic, oblique;
}
