.page-header {
  font-size: 32px !important;
  color: #082753 !important;
  font-weight: bold;
  text-align: center;
}
.block-header{
  color: #000 !important;
  font-size: 18px !important;
  font-weight: 600 !important;
}
.block-subheader{
  color: #082753;
  font-size: 18px !important;
  font-weight: 600 !important;
}
@media all and (max-width:600px) {
  .page-header {
    font-size: 24px !important;
  }
}
.text-center {
  text-align: center;
}
.v-text-field--outlined.v-input--dense .v-label {
    top: 8px;
}
